@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#textFooter {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#header {
  background-color: #9FB3DF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

#logo {
  display: flex;
  align-self: center;
  max-width: 220px;
  height: auto;
}

#nav {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 40px auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#boite {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#boite2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#boite2 p {
  text-align: center;
}

#boite3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#boite3 p {
  text-align: center;
}

#box {
  grid-column: 1/1;
}

#box3 {
  grid-column: 1/2;
}

#box4 {
  grid-column: 2/3;
}

#enceinte {
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 10px;
}
#enceinte:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

body {
  background-color: #FFF1D5;
}

#img1 {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 10px;
}
#img1:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#img2 {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 10px;
}
#img2:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#btnAccueil {
  color: #333;
  background-color: #FADADD;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
}
#btnAccueil:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#btnStudio {
  color: #333;
  background-color: #FADADD;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
}
#btnStudio:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#btnGalerie {
  color: #333;
  background-color: #FADADD;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
}
#btnGalerie:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#btnTarifs {
  color: #333;
  background-color: #FADADD;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
}
#btnTarifs:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#btnAPropos {
  color: #333;
  background-color: #FADADD;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
}
#btnAPropos:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#btnContact {
  color: #333;
  background-color: #FADADD;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
}
#btnContact:hover {
  background-color: #C8BFE7;
  color: #ffffff;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #BDDDE4;
  color: #333;
}

/*# sourceMappingURL=main.css.map */
