#boite1_apropos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    padding: 2rem;
  
    section {
      text-align: left;
  
      p {
        margin-bottom: 1.5rem;
      }
    }
  }

  .img_apropos {
    justify-self: center;
    align-self: center;
    width: 700px;
    height: 700px;
    border-radius: 10px;
  }

    .text, .text1, .text2 {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 16px;
      line-height: 2.0;
      width: 500px;
      height: 300px;
      border-radius: 10px;
      align-items: fl;
      justify-content: flex-start;
      text-align: left;
      border: 1px solid #333;
      padding: 10px;
    }


