#boite1_apropos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      width: 500px;
      height: 500px;
      border-radius: 10px;
    }

    .text {
      width: 500px;
      height: 250px;
      border-radius: 10px;
    }
  }


