#boite1_apropos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      width: 500px;
      height: 500px;
      border-radius: 10px;
    }

    .text {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 16px;
      line-height: 2.0;
      width: 500px;
      height: 250px;
      border-radius: 10px;
      align-items: center;
      justify-content: left;
      text-align: left;
    }
  }


