#enceinte {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    &:hover {
        background-color: #C8BFE7;
        color: #ffffff;
    }
}

body {
    background-image: url(https://raw.githubusercontent.com/LucasAliasElvennope/image_for_project/4b413a38edd31591965b230673e7a6598712643a/fond%20test.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img1 {
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    &:hover {
        background-color: #C8BFE7;
        color: #ffffff;
    }
}

#img2 {
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    &:hover {
        background-color: #C8BFE7;
        color: #ffffff;
    }
}

