#enceinte {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    &:hover {
        background-color: #C8BFE7;
        color: #ffffff;
    }
}

body {
    background-color: #FFF1D5;
}
