#studio_body {
    background-image: url(https://raw.githubusercontent.com/LucasAliasElvennope/image_for_project/4b413a38edd31591965b230673e7a6598712643a/fond%20test.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#title_studio {
    
}

#footer_studio {
    
}

#textFooter_studio {
    
}

#header_studio {
    background-color: #FFE4E1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

#nav_studio {
    
}

#logo_studio {
    
}


