
#box_studio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #boite1_studio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #boite2_studio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }

  #int, #ext {
    width: 700px;
    height: 500px;
    border: 1px solid #333;
    border-radius: 20px;
  }