#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #FFE4E1;
    color: #333;
}

#footer_studio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #FFE4E1;
    color: #333;
}
