#boite {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #boite1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #boite2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
    text-align: center;
    align-items: center;
    
    article {
        background-color: #FFD1DC;
        border: 2px solid #333;
        border-radius: 20px;
    }
  }
  
  #box1 {
    width: 500px;
    height: 320px;
    background-color: #A3D5FF;
    grid-column: 1/2;
    color: #333;
    border-radius: 20px;
  }
  
  #box2 {
    width: 500px;
    height: 320px;
    background-color: #A3D5FF;
    grid-column: 2/3;
    color: #333;
    border-radius: 20px;
  }
  
  #box3 {
    width: 500px;
    height: 320px;
    background-color: #A3D5FF;
    grid-column: 3/4;
    color: #333;
    border-radius: 20px;
  }
  
  #container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #container1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #espace {
    grid-column: 1/1;
    height: 100px;
  }
  
  #espace1 {
    grid-column: 1/1;
    height: 70px;
  }

  #espace2 {
    grid-column: 1/1;
    height: 70px;
  }
.imgBox {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #333;
  border-radius: 50%;
  object-fit: cover;
  }
    
  #box_studio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #boite1_studio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #boite2_studio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }

  #int, #ext {
    width: 700px;
    height: 500px;
    border: 1px solid #333;
    border-radius: 20px;
  }

  #gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    .imgGallerie {
      width: 200px;
      height: 200px;
      border: 1px solid #333;
      border-radius: 20px;
    }
  }
