#header,
#header_studio,
#header_tarifs {
  width: 100%;
  background-color: #fddaf8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

#header_tarifs {
  background-color: #ffccf7;
}

#logo,
#logo_studio {
  display: flex;
  align-self: center;
  max-width: 250px;
  height: auto;
}

#nav,
#nav_studio {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  justify-content: center;
  align-items: center;
  background-color: #D8A7B1;
  color: white;
  border: 1px solid #D8A7B1;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &:hover {
    background-color: #C8BFE7;
    color: #ffffff;
  }
}