#header,
#header_studio,
#header_tarifs {
  width: 100%;
  background-color: #fddaf8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;