#box {
    background-color: black;
    width: 700px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    &:hover {
        background-color: #C8BFE7;
        color: #ffffff;
    }
}

#box3 {
    background-color: black;
    width: 700px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    &:hover {
        background-color: #C8BFE7;
        color: #ffffff;
    }
}



